<div>
    <h2 translate="bookster2App.lendingRequest.home.title">LendingRequests</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="lending-request.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="bookster2App.lendingRequest.home.createLabel">
                        Create new LendingRequest
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'bookster2App.lendingRequest.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="created"><span translate="bookster2App.lendingRequest.created">Created</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="from"><span translate="bookster2App.lendingRequest.from">From</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="due"><span translate="bookster2App.lendingRequest.due">Due</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span translate="bookster2App.lendingRequest.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="booksterUser.id"><span translate="bookster2App.lendingRequest.booksterUser">booksterUser</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="copie.id"><span translate="bookster2App.lendingRequest.copie">copie</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="lendingRequest in vm.lendingRequests track by lendingRequest.id">
                    <td><a ui-sref="lending-request-detail({id:lendingRequest.id})">{{lendingRequest.id}}</a></td>
                        <td>{{lendingRequest.created | date:'mediumDate'}}</td>
                        <td>{{lendingRequest.from | date:'mediumDate'}}</td>
                        <td>{{lendingRequest.due | date:'mediumDate'}}</td>
                    <td translate="{{'bookster2App.RequestStatus.' + lendingRequest.status}}">{{lendingRequest.status}}</td>
                    <td>
                        <a ui-sref="bookster-user-detail({id:lendingRequest.booksterUser.id})">{{lendingRequest.booksterUser.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="copy-detail({id:lendingRequest.copie.id})">{{lendingRequest.copie.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="lending-request-detail({id:lendingRequest.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="lending-request.edit({id:lendingRequest.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="lending-request.delete({id:lendingRequest.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
