
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLendingLabel" translate="bookster2App.lending.home.createOrEditLabel">Create or edit a Lending</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.lending.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="bookster2App.lending.fromDate" for="field_fromDate">FromDate</label>
                <div class="input-group">
                    <input id="field_fromDate" type="text" class="form-control" name="fromDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.lending.fromDate" is-open="vm.datePickerOpenStatus.fromDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fromDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.fromDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.fromDate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="bookster2App.lending.dueDate" for="field_dueDate">DueDate</label>
                <div class="input-group">
                    <input id="field_dueDate" type="text" class="form-control" name="dueDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.lending.dueDate" is-open="vm.datePickerOpenStatus.dueDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dueDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dueDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.dueDate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="bookster2App.lending.holder" for="field_holder">holder</label>
            <select class="form-control" id="field_holder" name="holder" ng-model="vm.lending.holder" ng-options="booksterUser as booksterUser.id for booksterUser in vm.booksterusers track by booksterUser.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="bookster2App.lending.copie" for="field_copie">copie</label>
            <select class="form-control" id="field_copie" name="copie" ng-model="vm.lending.copie" ng-options="copy as copy.id for copy in vm.copys track by copy.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
